<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>

    <h2>Veterinarians</h2>

    <table class="table table-striped" id="vets">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialties</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet : ${vets}">
                <td th:text="${vet.lastName + ' ' + vet.firstName}"></td>
                <td>
                    <span th:each="specialty : ${vet.specialties}" th:text="${specialty.description + ' '}"></span>
                    <span th:if="${vet?.specialties?.isEmpty()}">None</span>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>